# SourceControlGenerator #
##########################
SourceControlGenerator.json

# Levels
######################
Mods/Mimicry_d9cac48f-1294-68f8-dd4d-b5ea38eaf2d6/Levels/*
Mods/Mimicry_d9cac48f-1294-68f8-dd4d-b5ea38eaf2d6/Globals/*
Editor/Mods/Mimicry_d9cac48f-1294-68f8-dd4d-b5ea38eaf2d6/Levels/*

# Story files        #
######################
*.div
*.raw
story_orphanqueries_ignore.txt
Mods/Mimicry_d9cac48f-1294-68f8-dd4d-b5ea38eaf2d6/Story/Dialogs/Recovered/*

# Asset Folders      #
######################
Public/Mimicry_d9cac48f-1294-68f8-dd4d-b5ea38eaf2d6/Assets/*
Editor/Mods/Mimicry_d9cac48f-1294-68f8-dd4d-b5ea38eaf2d6/Assets/Blueprints/*
#Public/Mimicry_d9cac48f-1294-68f8-dd4d-b5ea38eaf2d6/GUI/*

# Editor files       #
######################
RootTemplateSelectorConfig_*
ResourceSelectorConfig_*
StatsEditorConfig.xml
EffectEditorConfig.xml
DockPanel.config
EditorBrowserMetadata_*
EditorBrowserMetadata.xml
Autosave/*
Recovered/*
ReConHistory.txt
story.debugInfo

# Assets             #
######################
*.gr2
*.dae
*.swf
*.bullet
*.dds
*.tga
*.png
*.ttf
*.lsb
*.lsf
*.lsfx
*.lsefx
#*.lsx
*.lsmg
*.wav

# Logs               #
######################
*.log
*.ailog
log.txt
errors.txt
dialoglog.txt
personallog.txt

# Binary Files       #
######################
*.dat
*.data
*.bik
*.bnk
*.bshd
*.cur
*.fnt
*.iggy
*.iggytex
*.osi
*.patch
*.tmpl

# Dump files         #
######################
*.stackdump
*.dmp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.lnk
launch.json
